.elementInactive {
	opacity: 0.5;
    filter: alpha(opacity=50);
}



.gameBoardDiv {
	background-color: lightgrey;
	min-width: 440px;
	height: 440px;
	padding: 0px;
  	margin: 10px auto;
  	max-width: 440px;
  	min-height: 400px;
  	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.gameBoardBoxBase {
	min-width: 200px;
	height: 200px;
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	color: black;
	float: center;
	margin: auto;
	text-align: center;
}

.cargoTypeOne {
	background-color: blue;
}

.cargoTypeTwo {
	background-color: purple;
}

.cargoTypeThree {
	background-color: pink;
}

.cargoTypeFour {
	background-color: teal;
}
.excludedPiece {
	background-color: red;
}
.leftContainerRowParent {
	min-width: 440px;
	min-height: 500px;
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.leftContainerRow {
	max-width: 440px;
	max-height: 500px;
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.rightContainerRow {
	width: 200px;
	float: center-row;
	margin: auto;
/*	flex-direction: column;*/
}

.rightContainerParentRow {
	min-width: 180;
	margin: auto;
/*	flex-direction: column;*/
}
.mainContainerBox {
	width: 640px;
	background-color: black;
	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-flow: row wrap;
}

