.elementInactive {
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn-success {
	background-color: #B2E9DF;
}

.gameBoardDiv {
	background-color: #77544C;
	min-width: 440px;
	height: 440px;
	padding: 0px;
  	margin: 10px auto;
  	max-width: 440px;
  	min-height: 400px;
  	border-radius: 5px;
  	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.gameBoardBoxBase {
	min-width: 200px;
	height: 200px;
	margin: 10px;
	background-color: #97967C;
	border-radius: 5px;
	color: black;
	float: center;
	margin: auto;
	text-align: center;
}

.cargoTypeOne {
	background-color: blue;
}

.cargoTypeTwo {
	background-color: purple;
}

.cargoTypeThree {
	background-color: pink;
}

.cargoTypeFour {
	background-color: teal;
}
.excludedPiece {
	background-color: red;
}
#leftContainerDivParent {
	min-width: 460px;
	min-height: 460px;
	border-radius: 5px;
	background-color: #A27E5D;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.leftContainerRow {
	max-width: 440px;
	max-height: 440px;
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.rightContainerRow {
	width: 180px;
	float: center-row;
	margin: auto;
/*	flex-direction: column;*/
}

.rightContainerParentRow {
	min-width: 180;
	margin: auto;
/*	flex-direction: column;*/
}
.mainContainerBox {
	width: 640px;
	background-color: #56383E;
	border-radius: 5px;
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}
body {
height: 100%;
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

}
